header {
    z-index: 2px;

    nav {
        background-color: #293241;
        color: $color-2;
        -webkit-box-shadow: inset -9px -74px 38px -76px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: inset -9px -74px 38px -76px rgba(0, 0, 0, 0.75);
        box-shadow: inset -9px -74px 38px -76px rgba(0, 0, 0, 0.75);

        div {
            a {
                img {
                    width: 10rem;
                    height: 10rem;
                    border-radius: 50%;
                    transition: all 1s;
                    
                    &:hover{
                        transform: scale(1.2);
                        
                    }
                }
            }

            div {
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            color: $color-2;
                            font-size: x-large;
                            text-align: center;
                            border-right: $color-2;
                            transition: all 1s;

                            &:hover {
                                color: $color-1;
                                background-color: $color-2;
                                border-color: $color-2;
                                transform: scale(1.1);
                            }
                        }
                    }
                    .nav-item{
                        .nav-link.active{
                            color: $color-2;

                            &:hover{
                                color: $color-1;
                                background-color: $color-2;
                            }
                        }
                    }
                }
            }
        }
    }
}