@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Neucha', cursive;
}

a {
    text-decoration: none;
    color: rgb(15, 15, 15);
}

h2 {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    color: #1f2632;
    background-color: $color-2 ;
    padding: 1.5%;
    margin: 0%;
}

h3,
p {
    margin: 0%;
}

.btn {
    color: $color-2;
    border-color: $color-2;
    transition: all 1s ease;

    &:hover {
        color: #293241;
        background-color: $color-2;
        cursor: pointer;
        transform: scale(1.2);
    }
}